<div class="container">
<h1><%= @user.email %></h1>
<p>Find me in app/views/users/show.html.erb</p>
Je suis : <%= @user.role%>
<br><br><br><br>
<button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to 'Editer mon profil', '/users/edit' %></button>

</div>
