
<section class="header-home">
<h1 class="h1-home">Paupiette</h1>
</section>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<h1>Tu veux rejoindre l'aventure ?</h1>
<h3>Qui es-tu ?</h3>

  <button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to 'Je suis un Paul', '/users/sign_up' %><% @user.type = false %></button>
  <button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to "Je suis une Paulette", '/users/sign_up' %><% @user.type = true %></button>
