<section class="header-home">
  <h1>Paupiette</h1>
  <button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to 'Je me connecte', new_user_session_path %></button>
  <button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to "Je m'inscris", new_user_registration_path %></button>
</section>
