/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/
@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@font-face {
  font-family: 'playlistscript';
  src: url('playlist_script-webfont.woff2') format('woff2'),
  url('playlist_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {

  // VARIABLES
  //FONTS
  $font1: 'Lato', sans-serif;
  $font2: 'playlistscript';
  $light: 300;
  $regular: 400;
  $bold: 700;

  // COLORS
  $white: #FFFEFE;
  $greyback: #c4c4c4;
  $greyfont: rgba(0, 0, 0, 0.5);
  $pinkwhite: #f7f7f7;
  $black: #494848;
  $orange: #ED694C;
  $orange-hover: #db5639;
  //

  // GENERAL
  font-family: $font1;
  font-size:17px;
  padding-top: 50px;

  ul, ol {
    margin: 0;
    padding: 0px;
    list-style: none;
  }

  a {
    color: $greyback;
    text-decoration: none;
  }

  a:hover {
    color: $black;
    text-decoration: none;
  }

  .btn-paupiette {
    background-color: #ed694c;

    a {
      color: white;
      text-decoration: none;
    }
}
  // BODY HOME

  section.header-home {
    background-color: rgba(0, 0, 0, 0.14);
    color: white;
    padding-top: 120px;
    height: 350px;
    text-align: center;
}

  //HEADER

  //FOOTER
  footer {
    background-color: #f7f7f7;
    padding: 15px;

    .inner-footer {
      margin: 0 auto;
      display: flex;
      font-weight: $light;
      padding-bottom: 30px;

      .footer-box {
        width: 33%;

        .box-footer-title {
          display: block;
          font-weight: $bold;
          text-transform: uppercase;
          font-size: 0.8em;
          letter-spacing: 0.04em;
          margin: 10px auto 5px auto;
          color: $orange;
        }
      }
    }

    h2 {
      font-size: 0.8em;
      display: inline-block;
    }

    .follow-footer {
      display: inline-block;
      color: $orange;
      text-transform: uppercase;
      margin-right: 10px;
      vertical-align: middle;
    }

    .logo-copyright-footer {
      display: inline-block;
      float: right;
      color:$greyback;

      h2 {
        font-family:$font2;
        font-size: 1.5em;
        display: inline-block;
        font-weight: lighter;
      }
    }

    .end-footer {
      display: block;
      padding-top: 15px;
      border-top: 1px solid $greyback;

      .social-logo svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
}
.social-logo {
    display: inline-block;
}
    }
  }
}
